{% extends 'base.html'%}

{%block title%}Attendence panel {%endblock%}

{%block body%}
<div class='row'>
    <div class="col-sm-8 float-left text-end">
        <h1 class='mt-5'>Welcome  {{flt.name}}</h1>
    </div>
    <div class="col-sm-4 float-right">
       <a href="{% url 'logout' %}"><button type='button' class="btn btn-secondary me-5 mt-5 float-end ">Logout</button></a>
       <a href="{% url 'profile' %}"><button type='button' class="btn btn-primary me-5 mt-5 float-end ">Profile</button></a>
    </div>
</div>
<hr>
<div class='row'>
    <div class="col-sm-6 text-end mt-5">
        <h3>Add Students</h3>
    </div>
    <div class="col-sm-6 float-start mt-5 btn">
       <a href="{% url 'record' %}"><button type="button" class="btn" style="float:right; background-color:green;padding:8px;border:none;margin-right:250px; color:aliceblue; ">Check record</button></a>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12 mt-5" style="margin-left:150px ;">
        <form action="{% url 'panel' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><input type="text" name="name" style="padding-right: 350px;" placeholder="Student Name"/></td>
                    <td><input type="text" name="roll" style="padding-right: 150px;margin:10px;" placeholder="Student Roll No"/></td>
                </tr>
                <tr>
                    <td><select name="course" style=" padding:3px;padding-right:175px;" required>
                        <option value="" disabled selected hidden>Course</option>
                        <option name="course">Diploma</option>
                        <option name="course">B.E.</option>
                        <option name="course">B.C.A.</option>
                    </select>
                    <select name="sem" style="padding:3px; padding-right:175px;" required>
                        <option value="" disabled selected hidden>Semester</option>
                        <option>1st</option>
                        <option>2nd</option>
                        <option>3rd</option>
                        <option>4th</option>
                        <option>5th</option>
                        <option>6th</option>
                    </select ></td>
                
                    <td><select name="branch" style="padding:3px;padding-right:145px;margin:10px" required>
                        <option value="" disabled selected hidden>Branch</option>
                        <option>Computer Science</option>
                        <option>Information Technology</option>
                        <option>Electrical</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" style="background-color: green;color:aliceblue; margin:10px 0px 0px 270px; padding:5px 90px 5px 90px; border:none;" class="btn" value="Add student"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<hr>

 {% if msg %}
        <div class="row">
            <div class="alert alert-success text-center" role="alert">
                {{msg}}
             </div>
        </div>
        {% endif %}
<div class="row">
    <div class="col-sm-12 text-center">
         <h2>Mark Attendence 20-12-2022</h2>
         <table class="table table-bordered">
            <tr>
                <th>Name</th><th>Roll No</th><th>Course</th><th>Semester</th>
                <th>Branch</th><th>Attendence</th>
            </tr>
             {% for s in stu %}

            <tr>

                <td>{{s.name}}</td>
                <td>{{s.rollno}}</td>
                <td>{{s.course}}</td>
                <td>{{s.semester}}</td>
                <td>{{s.branch}}</td>
                <td>
                   <a href="/mainpanel?roll={{s.rollno}}&flag=p"><button type="button" style="border: none;color:white; background-color:green;">P</button></a>
                    <a href="/mainpanel?roll={{s.rollno}}&flag=a"><button type="button" style="border: none; color:white; background-color:red;">A</button></a>
                </td>
            </tr>
             {% endfor %}
          </table>
    </div>
</div>
{%endblock%}